body{
    background-color: hwb(268 3% 0%);
}
h1{
    color: hwb(331 0% 7%);
    text-align: center;
    font-size: 5em;
}
img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
background-color: hwb(331 0% 7%);
}

ul{
   display: flex;
   flex-wrap: wrap;
    gap: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2em;
    justify-content: center;

   
}
li{ 
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em; */

    max-width: 250px;
    padding: 1em;
    position: relative;
     margin: 0 0 15px 3px;  
 }

a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color:  hwb(331 0% 7%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
   
}